<div id="connect">
    <div class="center">
        <h2>Connection Info:</h2>
        <p>enter the ssh connection information for your server.</p>
        <label>Remote Address:</label><br>
        <input id="host" placeholder="127.0.0.1" />
        <br><br>
        <label>User:</label><br>
        <input id="user" placeholder="root" />
        <br><br>
        <label>Password:</label><br>
        <input id="pass" placeholder="*************" type="password"/><br><br>
        <button id="conn" class="btn-green dark-green">set config</button>
    </div>
</div>
