<div id="sidebar">
    <ul>
        <li class="active"><a href="#" data-module="deploy"><i class="fa fa-cloud-upload"></i> Deploy</a></li>
        <li><a href="#" data-module="running-apps"><i class="fa fa-cubes"></i> Running&nbsp;Apps</a></li>
        <li><a href="#" data-module="terminal"><i class="fa fa-terminal"></i> Terminal</a></li>
        <li><a href="#" data-module="connect"><i class="fa fa-plug"></i> Connect</a></li>
        <!--<li><a href="#" data-module="settings"><i class="fa fa-cog"></i> Settings</a></li>-->
    </ul>
</div>
